<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">

    <test name="allTests">
        <classes>
            <class name="tests.GmailSendingTest"/>
            <class name="tests.GmailHelpTest"/>
        </classes>
    </test>


    <test name="smokeTest">
        <classes>
            <class name="tests.GmailSendingTest"/>
        </classes>
    </test>

</suite>