<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="criticalPath">


    <test name="criticalPath">
        <groups>
            <run>
                <include name="sendingTests"/>
                <include name="userHelpTests"/>
            </run>
        </groups>
        <classes>
            <class name="tests.GmailSendingTest"/>
            <class name="tests.GmailHelpTest"/>
        </classes>
    </test>

</suite>

